<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="ssh_terminal" caps="250">
		<resource name="RAM" quantum="32M"/>
		<provides> <service name="Terminal"/> </provides>
		<config port="22" allow_password="yes" show_password="yes" rsa_key="/etc/ssh/rsa_key">
			<policy label_prefix="noux" user="sculpt" password="sculpt" request_terminal="yes" />
			<vfs>
				<dir name="dev">
					<log/>
					<inline name="rtc">2018-10-01 00:00</inline>
					<inline name="random">0123456789</inline>
				</dir>
				<dir name="etc">
					<dir name="ssh">
						<fs label="ssh"/>
					</dir>
				</dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" socket="/socket" rtc="/dev/rtc"/>
		</config>
		<route>
			<service name="File_system" label="ssh"> <parent label="ssh"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="noux" caps="500">
		<resource name="RAM" quantum="60M" />
		<exit propagate="yes"/>
		<config>
			<fstab>
				<tar name="bash-minimal.tar" />
				<tar name="coreutils-minimal.tar" />
				<tar name="vim-minimal.tar" />
				<dir name="dev"> <zero/> <null/> </dir>
				<dir name="rw">     <fs label="target"/> </dir>
				<dir name="report"> <fs label="report"/> </dir>
				<dir name="config"> <fs label="config"/> </dir>
				<dir name="tmp"> <ram /> </dir>
				<dir name="share"> <dir name="vim"> <rom name="vimrc"/> </dir> </dir>
			</fstab>
			<start name="/bin/bash">
				<env name="TERM" value="screen" />
				<env name="PS1" value="noux:$PWD> " />
			</start>
		</config>
		<route>
			<service name="File_system" label="target"> <parent label="target"/> </service>
			<service name="File_system" label="config"> <parent label="config"/> </service>
			<service name="File_system" label="report"> <parent label="report"/> </service>
			<service name="ROM" label="vimrc"> <parent label="vimrc"/> </service>
			<service name="Terminal"> <child name="ssh_terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
